@font-face{
  font-family: "Times New Roman";
  src: url("/assets/fonts/times.ttf");
}

body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 255);
}

p{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5em;
  transform: translateY(-32px);
  font-family: "Times New Roman";

  position: relative;
  z-index: 2;
}

/* secondary text */

/* ternary text */

/* made in RPG Maker 2003 text */

#RedLine{
  transform: translateY(-192px);
  width: 100%;
}

/* demonstration image */
