@font-face{
  font-family: "Times New Roman";
  src: url("times.ttf");
}

@font-face{
  font-family: "Heinsei Mincho W9";
  src: url("HeinseiMinchoW9.woff2") format("woff2"),
       url("HeinseiMinchoW9.woff") format("woff"),
       url("HeinseiMinchoW9.ttf") format("truetype");
} /* Well, that was a disappointment */

body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 255);
}

h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  top: 16px;
  font-family: "Times New Roman";
}
