@font-face{
  font-family: "Times New Roman";
  src: url("/assets/fonts/times.ttf");
}

body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 255);
}

p{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  top: 12px;
  font-family: "Times New Roman";
}
