*{
    user-select: none;
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100vw; height: 100vh;
    background-color: black;
    overflow: scroll;
    color: white;
}
button{
    position: fixed; display: flex;
    border: 8px solid rgb(30,30,30);
    z-index: 2;
    font-size: 16px;
    font-family: monospace;
    background-color: rgb(30,30,30);
    color: white;
}
#download{left:16px;top:16px;}
#reload{left:128px;top:16px;}
canvas{
    position: absolute; display: flex;
    width: 80%; height: 100%;
    left: 0px; top: 0px;
    z-index: 1;
}

.s{
    position: fixed; display: flex;
    width: 20%;
    border: 2px solid rgb(60,60,60);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    font-size: 16px;
    color: white;
}
b{position:fixed;display:flex;}
i{position:fixed;display:flex;}
code{position:fixed;display:flex;}
input{
    position: fixed; display: flex;
    width: calc(20vw - 16px); height: 24px;
    border: 2px solid rgb(60,60,60);
    justify-self: center;
    align-self: center;
    background-color: rgb(30,30,30);
    color: white;
}
#Settings{
    position: fixed; display: flex;
    width: 20vw; height: 100%;
    right: 0px; top: 0px;
    z-index: 2;
    background-color: rgb(30,30,30);
}
#SettingsText{
    height: 32px;
    background-color: rgb(15,15,15);
}
#Coloration{
    height: 64px;
    top: 32px;
}
#col{top: 64px;}
#Seed{
    height: 80px;
    top: 96px;
}
#sed{top: 144px;}
#Params{
    height: calc(100vh - 176px);
    top: 176px;
}
#sclE{top: 224px;}
#magE{top: 275px;}
#octE{top: 328px;}